{
	"presets": [
		"@babel/preset-react",
		"@babel/preset-env",
		"@babel/preset-typescript",
	],
	"plugins": [
	  ["babel-plugin-styled-components", { "fileName": true, "displayName": true, "pure": true, "ssr": true}],
	  [
		"module-resolver",
		{
		  "root": ["."],
		  "alias": {
			"~": ["./*"],
			"@pages/*": ["./pages/*"],
			"@components/*": ["./components/*"],
			"@api/*": ["./api/*"],
			"@assets/*": ["./assets/*"],
			"@utils/*": ["./utils/*"],
			"@hooks/*": ["./hooks/*"],
			"@styles/*": ["./styles/*"]
		  },
		  "extensions": [".js", ".jsx", ".ts", ".tsx"]
		}
	  ]]
  }